{% extends 'commons/base.twig' %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/commons/formulario.css') }}"/>
{% endblock css %}

{% block js %}
	{{ parent() }}
	<script src="{{ base_url('assets/js/commons/formulario.js') }}"></script>
	<script src="{{ base_url('assets/js/ferramentas/instalacao/main.js') }}"></script>
{% endblock js %}

{% set titulo_tela = "Instalação" %}
{% set chave_id = "ins_id" %}
{% set url_form = "ferramentas/instalacao" %}
{% set url_api = "instalacao" %}

{% block descricao_tela %}
	<a class="ancora-link" href="{{ base_url('ferramentas/instalacao/lista') }}">Lista de instalações</a>/<span>{{titulo_tela}}</span>
{% endblock descricao_tela %}

{% block body %}
	{% embed 'templates/formulario.twig' %}
		{% block body_form %}

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<span style="font-size: 18px;">
					<i class="fas fa-link"></i>
					Instalação</span>
				<hr>
			</div>

			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
				<label>Filial</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fas fa-industry"></i>
						</div>
					</div>
					<select class="select2 form-control" id="ins_id_filial" data-bind="ins_id_filial">
						<option value="-1">Nenhum selecionado</option>
					</select>
				</div>
			</div>

			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
				<label>Veículo</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fas fa-car"></i>
						</div>
					</div>
					<select class="select2 form-control" id="ins_id_veiculo" data-bind="ins_id_veiculo">
						<option value="-1">Nenhum selecionado</option>
					</select>
				</div>
			</div>

			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
				<label>Rastreador</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fas fa-microchip"></i>
						</div>
					</div>
					<select class="select2 form-control" id="ins_id_rastreador" data-bind="ins_id_rastreador">
						<option value="-1">Nenhum selecionado</option>
					</select>
				</div>
			</div>

		{% endblock body_form %}
	{% endembed %}
{% endblock body %}
