{% extends 'commons/base.twig' %}

{% block css %}
	{{ parent() }}
	<link href="{{ base_url('assets/libs/select2/css/select2.min.css') }}" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/commons/formulario.css') }}"/>
{% endblock css %}

{% block js %}
	{{ parent() }}
	<script src="{{ base_url('assets/libs/select2/js/select2.min.js') }}"></script>
	<script src="{{ base_url('assets/libs/select2/js/pt-br.js') }}"></script>
	<script src="{{ base_url('assets/js/commons/formulario.js') }}"></script>
	<script src="{{ base_url('assets/js/cadastros/grupo_veiculo/main.js') }}"></script>
{% endblock js %}

{% set titulo_tela = "Grupo de veículo" %}
{% set chave_id = "gru_vei_id" %}
{% set url_form = "cadastros/grupo_veiculo" %}
{% set url_api = "grupoVeiculo" %}

{% block descricao_tela %}
	<a class="ancora-link" href="{{ base_url('cadastros/grupo_veiculo/lista') }}">Lista de grupo de veículos</a>/<span>{{titulo_tela}}</span>
{% endblock descricao_tela %}

{% block body %}
	{% embed 'templates/formulario.twig' %}
		{% block body_form %}

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<span style="font-size: 18px;">
					<i class="fas fa-network-wired"></i>
					Cadastro de grupo de veículo</span>
				<hr>
			</div>

			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
				<label>Descrição</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fas fa-edit"></i>
						</div>
					</div>
					<input type="text" class="form-control" id="gru_vei_descricao" data-bind="gru_vei_descricao">
				</div>
			</div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
				<label>Filial</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fas fa-industry"></i>
						</div>
					</div>
					<select class="select2 form-control" id="gru_vei_id_filial" data-bind="gru_vei_id_filial">
						<option value="-1">Nenhum selecionado</option>
					</select>
				</div>
			</div>

		{% endblock body_form %}
	{% endembed %}
{% endblock body %}
