<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ titulo_tela }} - Locato</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block css %}
			<link rel="icon" href="{{ base_url('images/icon/icon.png') }}" type="image/png"/>
			<link rel="shortcut icon" href="{{ base_url('images/icon/icon.png') }}" type="image/png"/>
			<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
			<link
			rel="stylesheet" type="text/css" href="{{ base_url('assets/libs/bootstrap-4.0.0/css/bootstrap.min.css') }}"/>
			{# <link rel="stylesheet" type="text/css" href="{{ base_url('assets/libs/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css') }}" /> #}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
			<link rel="stylesheet" type="text/css" href="{{ base_url('assets/libs/izitoast/css/iziToast.min.css') }}"/>
			<link rel="stylesheet" type="text/css" href="{{ base_url('assets/libs/ladda/ladda.min.css') }}"/>
			<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" integrity="sha256-IyR33qBiUXj7Clf/BpIUivtGnpIpLIL0XOCEGSQPZxg=" crossorigin="anonymous"/>
			<link rel="stylesheet" type="text/css" href="{{ base_url('assets/libs/bootstrap-table/bootstrap-table.min.css') }}"/>
			<link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/commons/bootstrap-table-personalizado.css') }}"/>
			<link href="{{ base_url('assets/libs/select2/css/select2.min.css') }}" rel="stylesheet"/>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href="{{ base_url('assets/libs/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}" rel="stylesheet"/>
            <link rel="stylesheet" type="text/css" href="{{ base_url('assets/css/commons/base.css') }}"/>
		{% endblock css %}

	</head>
	<body data-baseurl="{{ base_url() }}">

		<div class="loading-tela"></div>

		{% include "commons/navbar.twig" %}

		{% include "commons/menu.twig" %}

		{% block body_principal %}
			<div class="div-principal">
				<div class="div-header">
					{% block descricao_tela %}
						{{titulo_tela}}

					{% endblock descricao_tela %}
				</div>
				<div class="div-body">
					{% block body %}{% endblock body %}
				</div>
			</div>
		{% endblock body_principal %}

		<!-- modal notificacoes -->
		<div id="modal_notificacoes" style="display: none">
			<div class="card">
				<div class="card-body card-body-mobile">
					<div style="height: 38px; float: left;">
						<button class="btn btn-info none" id="marcar-todos-lido">
							<i class="far fa-envelope-open"></i>
							<span class="hide-mobile">
								Marca como lido</span>
						</button>
						<button class="btn btn-secondary none" id="marcar-todos-nao-lido">
							<i class="far fa-envelope"></i>
							<span class="hide-mobile">
								Marca como não lido</span>
						</button>
						<button class="btn btn-danger none" id="excluir-todos">
							<i class="fas fa-trash-alt"></i>
							<span class="hide-mobile">
								Deletar</span>
						</button>
					</div>
					<table id="table-notificacoes" class="bootstrap-table" data-locale="pt-BR"></table>
				</div>
			</div>
		</div>
		<!-- modal notificacoes -->


		{% block js %}
			<script src="{{ base_url('assets/libs/jquery-3.3.1/jquery-3.3.1.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/bootstrap-4.0.0/js/bootstrap.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/bigslide/bigslide.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/izitoast/js/iziToast.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/ladda/spin.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/ladda/ladda.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/bootstrap-table/bootstrap-table.min.js') }}"></script>
			<script src="{{ base_url('assets/libs/bootstrap-table/bootstrap-table-locale-all.min.js') }}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js" integrity="sha256-vVnwgKyq3pIb4XdL91l1EC8j7URqDRK8BAWvSnKX0U8=" crossorigin="anonymous"></script>
			<script src="{{ base_url('assets/js/commons/requester.js') }}"></script>
			<script src="{{ base_url('assets/js/commons/app.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/pt-br.js"></script>
            <script src="{{ base_url('assets/libs/select2/js/select2.min.js') }}"></script>
            <script src="{{ base_url('assets/libs/select2/js/pt-br.js') }}"></script>
            <script src="{{ base_url('assets/libs/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>
		{% endblock js %}
	</body>
</html>
